name: Build and Push Docker Images

on:
  push:
    branches:
      - review-2
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v4

      - name: Вход в GitHub Container Registry (GHCR)
        run: echo "${{ secrets.GIT_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Установка Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Сборка и пуш backend
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/backend:latest

      # Сборка и пуш frontend
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/frontend:latest
